@media screen and (max-width: 1176px) {
	.from__inner {
		flex-direction: column;
		align-items: center;
	}

	.from__slaider {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 940px) {
	.header__item {
		display: none;
	}

	.burger {
		display: block;
	}

	.header__bottom-menu {
		display: none;
	}

	.sub-menu {
		display: flex;
	}
}

@media screen and (max-width: 532px) {
	.header__logo-dest {
		display: none;
	}

	.header__logo-mobile {
		display: block;
	}

	.header__street {
		display: none;
	}
}


@media screen and (max-width: 532px) {

}