/*font-family: 'Barlow', sans-serif*/

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
       url("../fonts/SFProDisplay-Regular.woff") format("woff");
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
       url("../fonts/SFProDisplay-Bold.woff") format("woff");
       font-style: normal;
       font-weight: bold;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: "SFProDisplay", sans-serif;
	font-style: normal;
    font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 24px;
	color: #2F3035;
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color:inherit;
}

h1,h2,h3,h4,h5,h6 {
	
}

h2 {

}

input,
textarea {
	font-family: inherit;
}

.container {
	max-width:1200px;
	padding: 0 15px;
	margin: 0 auto;
}

			/*header*/

.header {

}

.header__top {
	height: 122px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.header__item {
	display: flex;
}

.header__list + .header__list {
	margin-left: 50px;
}

.header__list:hover {
	border-bottom: 1px solid #2F3035;
}

.header__kabinet {
	padding-right: 16px;
}

.cabinet__item + .cabinet__item {
	margin-left: 10px;
}

.basket {
	position: relative;
}

.basket::after {
	content: '1';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #1C62CD;
	border-radius: 50%;
	bottom: -3px;
	right: -13px;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding-top: 4px;
}

.header__bottom {
	height: 53px;
	background: #F0F0F4;
	padding-top: 15px;
}

.header__bottom-menu {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.header__bottom-menu {
	font-weight: normal;
}

.header__bottom-link {
	padding-bottom: 15px;
	border-bottom: 2px solid #fff;
	transition: all .2s ease;
}

.header__bottom-link:hover {
	color: #000;
	padding-bottom: 15px;
	border-bottom: 2px solid #2F3035;
}

			/*from*/

section.from {
	padding-top: 78px;
}

.from__slaider {
	position: relative;
	max-width: 870px;
	width: 100%;
}

.slick-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.left {
	left: 26px;
}

.right {
	right: 26px;
}

.slick-dots {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 36px;
}

.slick-active {
	background: #fff;
}

.slick-dots li {
	width: 11px;
	height: 11px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;

}

.slick-dots li button {
	background: transparent;
	font-size: 0;
	border: none;
} 

.slick-dots li +li {
	margin-left: 9px;
}

.from__inner {
	display: flex;
	justify-content: space-between;
}

.from__sale {
	text-align: center;
	width: 265px;
	border: 1px solid #F0F0F4;
}

.from__sale a {
	display: block;
	width: 100%;
	height: 100%;
}

.sale__top {
	display: flex;
	position: relative;
	margin-bottom: 36px;
	justify-content: space-between;
}

.sale__top-acsia {
	width: 90px;
	background: #1C62CD;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	padding: 8px 0;
}

.sale__top-new {
	font-weight: bold;
	font-size: 27px;
	line-height: 32px;
	color: #1C62CD;
	padding-right: 5px;
}

.sale__top-old {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
	padding-right: 3px;
}

.sale__top-old::after {
	content: '';
	background: url('../img/old.svg');
	width: 60px;
	height: 20px;
	display: block;
	position: absolute;
	right: 10px;
	top: 0;
}

.from__sale-info {
	max-width: 152px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin: 0 auto;
	color: #2F3035;
	margin-bottom: 8px;
}

.sale__bottom {
	padding: 29px 5px 28px;
	background: #F0F0F4;
	border-radius: 3px;

}

.sale__bottom-info {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #2F3035;
}

.sale__bottom-day {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #1C62CD;
}


/*search*/

.search {
	padding-top: 77px;
}

.tabs__item {
	padding: 11px 26px;
	font-size: 20px;
	background: #fff;
	border-radius: 5px;
	line-height: 24px;
	color: #2F3035;
	margin-right: 28px;
}

.tabs__item--active {
	background: #F0F0F4;
	border-radius: 5px;
	font-weight: bold;
}

.tabs__list {
	margin-bottom: 45px;
}

.tabs__content {
	display: flex;
	display: none;
}

.tabs__content--active {
	display: flex;
}

.tabs__content-btn {
	display: block;
	width: 145px;
	height: 50px;
	background: #1C62CD;
	border-radius: 3px;
	text-align: center;
	padding: 16px 0 17px;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}

.tabs__content-inp {
	display: block;
	width: 88%;
	background: #F0F0F4;
	border-radius: 3px;
	padding: 15px 20px;
	outline: none;
	border: none;
}

/*collection*/

.collection {
	padding-top: 80px;
}

.collection__inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;
}

.collection__box {
	display: flex;
	justify-content: space-around;
	padding: 20px 10px 14px 20px;
	max-width: 370px;
	height: 129px;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	cursor: pointer;
	transition: all .2s ease;
}

.collection__box:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	border-radius: 3px;
}

.collection__box:hover .collection__box-title {
	color: #1C62CD;
}

.collection__box-info {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}

.collection__box-title {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 23px;
	line-height: 28px;
	color: #2F3035;
}

.collection__box-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
}


/*popylar*/

.popylar {
	padding-top: 80px;
}

h3 {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	color: #2F3035;
}

.tabs__list {
	margin-bottom: 35px;
}

.popylar__title {
	margin-bottom: 25px;
}

.popylar__tab {
	font-size: 15px;
	line-height: 18px;
	margin-right: 50px;
	padding-bottom: 10px;
	border-bottom: 2px solid #fff;
}

.popylar__tab--active {
	border-bottom: 2px solid #1C62CD;
}

.popylar__content {
	display: none;
}

.popylar__content--active {
	display: block;
}

.popylar__box {
	position: relative;
	max-width: 271px;
	width: 100%;
	height: 403px;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	text-align: center;
	padding: 52px 10px 0 10px;
	transition: all .2s ease;
}

.popylar__box:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.popylar__box:hover .popylar__box-title {
	color: #1C62CD;
}

.popylar__box:hover .popylar__box-see {
	display: block;
}

.popylar__like {
	position: absolute;
	background: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	top: 16px;
	right: 25px;
	width: 24px;
	height: 22px;
	z-index: 999;
}

.popylar__like--active {
	background: url(../img/heart__active.svg);
}

.popylar__box-see {
	position: absolute;
	display: none;
	max-width: 230px;
	padding: 18px 0 17px;
	width: 100%;
	font-size: 20px;
	line-height: 24px;
	background: rgba(255, 255, 255, .7);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	top: 120px;
	left: 20px;
}

.popylar__box-wrapper {
	width: 100%;
	height: 100%;
}

.popylar__box-img {
	margin-bottom: 14px;
}

.popylar__box-title {
	display: block;
	width: 230px;
	font-weight: normal;
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.popylar__box-price {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
}

.popylar__box-non {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 50%;
	z-index: 999;
	transform: translateX(-50%);	
}

.parameters__items .popylar__box-non {
	bottom: 15px;
}

.popylar__box-non {
	display: none;
}

.popylar__box-none .popylar__box-price {
	display: none;
}

.popylar__box-none .popylar__box-non {
	display: block;
}

.popylar__box-efred {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 8px;
}

.parameters__items .popylar__box-efred {
	margin-bottom: 0;
}

.popylar__box-message {
	font-size: 16px;
	color: #1C62CD;
	line-height: 19px;
	border-bottom: 1px solid #1C62CD;
}

.popylar__left {
	left: -40px;
}

.popylar__right {
	right: -20px;
}

.popylar__btn {
	display: block;
	width: 252px;
	height: 50px;
	margin: 0 auto;
	margin-top: 35px;
	padding: 17px 10px 15px;
	background: #F0F0F4;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
}

/*second-banner*/

.second-banner {
	padding-top: 86px;
}

.second-banner-link {
	display: block;
	width: 100%;
	height: 100%;
}

/*andbay*/

.andbay {
	padding: 72px 0 97px;
}

.andbay__title {
	margin-bottom: 19px;
}

.andbay__tab {
	margin-right: 50px;
	margin-bottom: 5px;
	border-bottom: 2px solid #fff;
}

.andbay__tab--active {
	border-bottom: 2px solid #1C62CD;
}

.andbay__content  {
	display: none;
}

.andbay__content--active {
	display: block;
}

.andbay__left {
	left: -40px;
}

.andbay__right {
	right: -20px;
}

/*footer*/

.footer {
	background: #F0F0F4;
	padding: 42px 0 22px;
}

.footer__top {
	margin-bottom: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h6 {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.footer__contact-title {
	display: block;
	max-width: 230px;
	width: 100%;
	margin-bottom: 34px;
}

.footer__form {
	display: flex;
	max-width: 295px;
	width: 100%;
}

.footer__form-inp {
	background: #FFFFFF;
	max-width: 201px;
	width: 100%;
	font-size: 14px;
	line-height: 17px;
	padding: 8px 5px 8px 12px;
	outline: none;
	border: none;
}

.footer__form-inp::placeholder {
	color: #C4C4C4;
}

.footer__form-btn {
	max-width: 109px;
	width: 100%;
	background: #1C62CD;
	border: none;
	outline: none;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}

.footer__item {
	max-width: 340px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.footer__item-list {
	margin-top: 5px;
}

.footer__item-link {
	font-size: 14px;
	line-height: 17px;
}

.footer__social-link + .footer__social-link {
	margin-left: 25px;
}

.footer__bottom {
	display: flex;
	justify-content: center;
}

.footer__bottom-info {
	font-size: 10px;
	line-height: 12px;
	color: #48494D;
}

.footer__bottom-info + .footer__bottom-info {
	margin-left: 81px;
}

/*breadcrumbs*/

.breadcrumbs {
	padding: 43px 0 41px;
}

.breadcrumbs__items-list {
	display: inline-block;
}

.breadcrumbs__items-list {
	padding-right: 16px;
	margin-left: 10px;
	position: relative;
	font-size: 15px;
	line-height: 18px;
	color: #C4C4C4;
}

.breadcrumbs__items-list::after {
	content: '';
	position: absolute;
	background: url(../img/content/Back.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 6px;
	height: 10px;
	top: 5px;
	right: 0;
}

.breadcrumbs__items-list:last-child::after {
	display: none;
}

/*catalog*/

.catalog {
	padding-bottom: 100px;
}

.catalog__inner {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 30px;
}

.catalog__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 47px;
}

.catalog__list-btn {
	background: #F0F0F4;
	border-radius: 3px;
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 17px;
	opacity: .7;
	text-align: center;
	padding: 4px 22px;
	cursor: pointer;
}

.catalog__list-btn + .catalog__list-btn {
	margin-left: 8px;
}

.cat-bt {
	background: transparent;
	border: none;
	cursor: pointer;
}

.catalog__btn {
	max-width: 285px;
	width: 100%;
}

.catalog__btn-select {
	max-width: 178px;
	width: 100%;
}

.catalog__content {
	display: flex;
}

.parameters__aside {
	max-width: 301px;
	width: 100%;
	margin-right: 10px;
}

.parameters__items {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	position: relative;
	padding-bottom: 69px;
}

/*pagination*/

.pagination {
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
}

.pagination-item {
	display: flex;
}

.pagination-item__list {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #C4C4C4;
	padding: 7px 14px 7px 13px;
	border: 2px solid #fff;
	margin-right: 6px;
}

.pagination-item__list--active {
	border: 2px solid #1C62CD;
	color: #1C62CD;
}

.parameters__aside {

}

.parameters__list {
	display: flex;
}

.tabs__parameters {
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #C4C4C4;
}

.tabs__parameters + .tabs__parameters {
	margin-left: 42px;
}

.tabs__parameters--active {
	padding-bottom: 7px;
	color: #2F3035;
	border-bottom: 2px solid #1C62CD;
}

.tabs__parameters-content {
	display: none;
}

.tabs__parameters-content--active {
	display: block;
	font-weight: bold;
}

.aside__item-drop {
	margin: 40px 0;
}

.aside__item-title {
	font-size: 16px;
	line-height: 19px;
	padding-left: 26px;
	cursor: pointer;
}

.aside__item-content {
	display: flex;
	flex-wrap: wrap;
}

.aside__item-margin {
	width: 50%;
}

/*.aside__item-margin + .aside__item-margin {
	margin-left: 50px;
}
*/
.aside__item-accord {
	position: relative;
	margin-bottom: 6px;
}

.aside__item-accord::after {
	content: '';
	position: absolute;
	background: url(../img/up.svg);
	width: 12px;
	height: 8px;
	left: 0;
	bottom: 4px;
	transform: rotate(180deg);
}

.aside__item-accord--active::after {
	transform: rotate(0deg);
}

.aside__item-label {
	font-weight: normal;
	cursor: pointer;
	font-size: 14px;
	line-height: 17px;
}

.aside__item-marginmin + .aside__item-marginmin{
	margin-left: 20px;
}

.jq-checkbox, .jq-radio {
	border: 1px solid #C4C4C4;
	box-shadow: none;
	background: #fff;
	width: 14px;
	height: 14px;
	border-radius: 1px;
	vertical-align: -2px;
	margin: 0 7px 0 0;
}

.jq-checkbox.checked, .jq-radio.checked {
	background: #1C62CD;
	border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
	width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  background: url(../img/content/ok.svg);
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
}

.jq-radio.checked .jq-radio__div {
	width: 0;
  height: 0;
  margin: 0;
  border-radius: 1px;
  background: transparent;
  box-shadow: none;
}

.irs--flat.irs-with-grid {
	width: 100%;
}

.irs--flat {
	width: 100%;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
	top: 60px;
  padding: 0;
  color: #2F3035;
  font-weight: normal;
  font-size: 14px;
	line-height: 17px;
	text-decoration-line: underline;
  background-color: transparent;
  border-radius: 0;
  visibility: visible !important;
  padding-left: 25px;
}

.irs-min::before,
.irs-max::before{
	content: '';
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
	text-decoration: none;
	position: absolute;
	left: 0;
}

.irs-min::before {
	content: 'от';
}

.irs-max::before {
	content: 'до';
}

.irs--flat .irs-line {
	top: 25px;
  height: 1px;
  background-color: #E0E0E0;
  border-radius: 0;
}

.irs--flat .irs-bar {
	top: 25px;
  height: 3px;
  background-color: #1C62CD;
}

.irs--flat .irs-handle {
	top: 22px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1C62CD;
}

.irs--flat .irs-handle>i:first-child {
	background-color: transparent;
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
	background-color: transparent;
}

.aside-item__list {
	margin: 80px 0 40px;
}

.aside-filter__list-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #2F3035;
}

.aside-filter__list {
	display: flex;
	border-bottom: 2px solid #C4C4C4;
	justify-content: space-between;
}

.aside-filter__list + .aside-filter__list {
	margin-top: 26px;
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: none;
  border-radius: 0;
  font-size: 14px;
	line-height: 17px;
  background:transparent;
  box-shadow: none;
  color: #48494D;
  text-shadow: none;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 4px;
  right: 28px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: url(../img/up.svg);
  width: 12px;
  height: 8px;
}

.jq-selectbox__dropdown {
	bottom: -102px;
}

.jq-selectbox__select:active {
	background: #fff;
  box-shadow: none;
}

.jq-selectbox__select:hover {
	background: #fff;
  box-shadow: none;
}

.aside__item-btn {
	border: none;
	background: transparent;
	font-size: 14px;
	line-height: 17px;
	text-decoration-line: underline;
	color: #1C62CD;
	width: 100%;
	text-align: start;
	margin-top: 18px;
	cursor: pointer;
}

.aside__item-contentinput {
	width: 100%	;
	font-size: 12px;
	line-height: 14px;
	color: #BDBEC2;
	padding: 8px 20px;
	border: 1px solid #E0E0E0;
	outline: none;
	margin: 10px 0;
}

.aside-item .aside__item-content {
	flex-wrap: nowrap;
}

.aside__countre {
	position: absolute;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
	color: #BDBEC2;
	z-index: 3;
	top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.aside-item .aside__item-label {
	position: relative;
}

.aside-item .jq-checkbox.input__style.checked ~ span{
	color: #fff;
 }

.aside-item .jq-checkbox.input__style {
	border: none;
  box-shadow: none;
  background: #F0F0F4;
  width: 63px;
  height: 25px;
  border-radius: none;
  vertical-align: -2px;
  margin: 0;
}

.aside-item .jq-checkbox.input__style.checked{
	background: #1C62CD;
}

.aside-item .jq-checkbox.checked .jq-checkbox__div {
	display: none;
}

.filter__more {
	text-align: center;
}

.filter__more-use {
	width: 255px;
	height: 50px;
	background: #F0F0F4;
	padding: 17px 10px 15px;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #BDBEC2;
	border: none;
	outline: none;
	cursor: pointer;
}

.filter__more-dop {
	font-size: 13px;
	line-height: 16px;
	color: #2F3035;
	background: transparent;
	border: none;
	padding-right: 22px;
	position: relative;
	cursor: pointer;
}

.filter__more-dop::after {
	content: '';
	position: absolute;
	background: url(../img/content/Shape.svg);
	right: 0;
	top: 6px;
	width: 12px;
	height: 8px;
}

.filter__more-clea {
	font-size: 13px;
	line-height: 16px;
	color: #C4C4C4;
	background: transparent;
	border: none;
	padding-bottom: 2px;
	cursor: pointer;
	border-bottom: 1px solid #C4C4C4;
}

.catalog__btn .input__style {
	width: 178px;
	border: 1.5px solid #D7D9DF;
	font-size: 14px;
	line-height: 17px;

}

.jq-selectbox__select {
	height: 17;
	padding: 6px 5px 0 20px;
}

.jq-selectbox__trigger-arrow {
	top: 10px;
  right: 11px;
  transform: rotate(180deg);
}

.cat-bt {
	opacity: 1;
}

/*product*/

.product {
	padding-bottom: 82px;
}

.product-wrap {
	display: flex;
	justify-content: space-between;
}

.product-wrap__card {
	position: relative;
	max-width: 500px;
	width: 100%;
	padding-top: 64px;
	text-align: center;
}

.product-wrap__car-img {
	width: 100%;
	bottom: 17px;
}

.product-wrap__car-sale {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	color: #FFFFFF;
	background: #1C62CD;
	border-radius: 3px;
	width: 94px;
	padding: 13px 5px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 0;
}

.product-wrap__car-old {
	font-size: 30px;
	display: block;
  width: 180px;
  margin: 0 auto;
	line-height: 36px;
	color: #000000;
	opacity: 0.6;
	position: relative;
	margin-bottom: 12px;
	font-weight: normal;
}

.product-wrap__car-old::after {
	content: "";
	position: absolute;
	background: url(../img/product__old.png);
	width: 132px;
	height: 21px;
	top: 8px;
	left: 12px;
}

.product-wrap__car-new {
	font-family: 'Barlow', sans-serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 48px;
	margin-bottom: 17px;
}

.product-wrap__car-link {
	font-size: 15px;
	line-height: 18px;
	color: #1C62CD;
}

.product__tabs-list {
	font-size: 20px;
	line-height: 24px;
	opacity: 0.6;
	margin-right: 24px;
}

.product__tabs-list--active {
	font-weight: bold;
	opacity: 1;
}

.product-tabs__content-item {
	display: none;
}

.product-tabs__content-item--active {
	display: block;
}

.product-wrap__list {
	max-width: 570px;
	width: 100%;
}

.product-wrap__list-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 10px;
}

.product-wrap__list-code {
	font-size: 15px;
	line-height: 18px;
	opacity: 0.6;
	margin-bottom: 25px;
}

.product-wrap__list-tabs {
	max-width: 460px;
	width: 100%;
	height: 355px;
}

table {
	width: 100%;
}

.product-tabs__list {
	margin-bottom: 25px;
}

tr {
	border-bottom: 1px solid rgba(47, 48, 53, .3);
}

td {
	padding:15px 0 6px;
	font-size: 20px;
	line-height: 24px;
}

.product-tabs__content-btn {
	font-size: 14px;
	line-height: 17px;
	text-decoration-line: underline;
	color: #1C62CD;
	background: transparent;
	margin: 20px 0 45px;
	border: none;
	cursor: pointer;
}

.product-wrap__list-btn {
	max-width: 177px;
	width: 100%;
	padding: 16px 5px 17px;
	background: #1C62CD;
	border-radius: 3px;
	border: none;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}

.product-menu__item {
	display: flex;
	justify-content: space-between;
	background: #F0F0F4;
	padding: 22px 34px 24px 38px;
}

.product-menu__list {
	font-size: 20px;
	line-height: 24px;
	opacity: 0.6;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	transition: all .2s ease;
}

.product-menu__list:hover {
	opacity: 1;
	border-bottom: 2px solid #1C62CD;
}

.product-menu__list:active {
	opacity: 1;
	border-bottom: 2px solid #1C62CD
}

/*catalog-info*/

.catalog-info {
	padding-top: 70px;
}

.catalog-info__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.catalog-info__search {
	display: flex;
	align-items: center;
}

.catalog-info__search-mag {
	font-size: 17px;
	line-height: 20px;
	color: #2F3035;
	opacity: 0.7;
	margin-right: 17px;
}

.catalog-info__search-search {
	max-width: 313px;
	width: 100%;
	height: 33px;
	background: #F0F0F4;
	border-radius: 3px;
	border: none;
	outline: none;
}

.catalog-info__search-search::placeholder {
	color: #C4C4C4;
}

.catalog-info__search-icon {
	position: relative;
}

.catalog-info__search-icon::after {
	content: '';
	background: url('../img/Search.svg'); 
	position: absolute;
	width: 16px;
	height: 16px;
	right: 9px;
	top: -8px;
}

.catalog-info__search-radio .aside__item-marginmin + .aside__item-marginmin {
	margin-left: 54px;
}

.catalog-info__search-radio .jq-checkbox.checked, .jq-radio.checked {
    background: #fff;
    border: 1px solid #1C62CD;
}

.catalog-info__search-radio .jq-radio.checked .jq-radio__div {
    width: 7.5px;
    height: 7.5px;
    margin: 2.7px;
    border-radius: 0px;
    background: #1C62CD;
}

.catalog-info__table-title {
	text-align: start;
	padding-bottom: 41px;
	border-bottom: none;
}

.catalog-info__table-rowtitle {
	border-bottom: none;
}

.catalog-info__table-row {
	border-bottom: 1px solid rgba(47, 48, 53, .2);
}

.catalog-info__table-text {
	color: rgba(47, 48, 53, .6);
}

.catalog-info__table-btn {
	width: 140px;
	padding: 10px 0 9px;
	background: #1C62CD;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.12em;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.product-wrap__list-rateo {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.product-wrap__list-rateo a {
	margin-right: 29px;
}

.burger {
	display: none;
	background: transparent;
	border: none;
}

.burger__item {
	display: block;
	background: #2F3035;
	border-radius: 3px;
	width: 33px;
	height: 3px;
	margin-bottom: 8px;
}

.header__logo-mobile {
	display: none;
}